.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 20px 0 0 0;
}

.get-machine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-and-label > input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #163E6C;
    margin: 20px;
    padding: 5px;
    background-color: white;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 800px;
}

.info-if-doesnt-exists {
    color: #D20A11;
    font-size: 14px;
}

.adaptive-table-wrapper {
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}

.adaptive-table-wrapper > .adaptive-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.adaptive-table-wrapper > .adaptive-table td,
.adaptive-table-wrapper > .adaptive-table th {
    padding: 10px;
    text-align: center;
}

.adaptive-table-wrapper > .adaptive-table th {
    background-color: #163E6C;
    color: white;
}

.adaptive-table-wrapper > .adaptive-table th:nth-child(odd) {
    background-color: #2a5685;
}

.adaptive-table-wrapper > .adaptive-table tr:nth-child(even) {
    background-color: #eeebeb;
}

.adaptive-table-wrapper > .adaptive-table td {
    border-right: 1px solid #696a6a;
}

.adaptive-table-wrapper > .adaptive-table td:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {
    .result-wrapper {
        width: 300px;
    }
    
}