{% extends 'base.html' %} 
{% block title %} Мой силант {% endblock title %} 
{% block content %}
<main class="main">
    <div class="result-wrapper">
        <h1>Информация о доступных рекламациях</h1>
        {% include 'tabs.html' with active_tab='complaint' %}
        {% if complaints %}
        {% include 'filter_form.html' %}
        <div class="adaptive-table-wrapper">
                <table class="adaptive-table">
                    <thead>
                        <tr>
                            <th>Зав. №</th>
                            <th>Дата отказа ТО</th>
                            <th>Наработка, м\час</th>
                            <th>Узел отказа</th>
                            <th>Описание отказа</th>
                            <th>Способ</th>
                            <th>Используемые части</th>
                            <th>Дата восстановления</th>
                            <th>Время простоя</th>
                            <th>Сервисная компания</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for complaint in complaints %}
                        <tr>
                            <td>{{ complaint.machine }}</a></td>
                            <td>{{ complaint.date_of_refusal }}</td>
                            <td>{{ complaint.operating_time }}</td>
                            <td>{{ complaint.failure_node }}</td>
                            <td>{{ complaint.description_of_failure }}</td>
                            <td>{{ complaint.recovery_method }}</td>
                            <td>{{ complaint.parts_used }}</td>
                            <td>{{ complaint.recovery_date }}</td>
                            <td>{{ complaint.equipment_downtime }}</td>
                            <td>{{ complaint.service_company }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    {% else %}
    <div class="result-wrapper">
        <span>Рекламаций нет в базе</span>
    </div>
    {% endif %}
    {% if can_add_complaint %}
        <button class="create-button" id="create_complaint">Создать</button>
    {% endif %}
    <a href="{% url 'machine_list' %}">Назад</a>

</main>
{% endblock content %}