{% extends 'base.html' %} 
{% block title %} Мой силант {% endblock title %} 
{% block content %}
<main class="main">
    {% if machine %}
    <div class="user-info">
        <span>Модель техники: {{ machine.model_of_equipment }}</span>
        <span>Заводской номер машины: {{ machine.serial_number_of_machine }}</span>
    </div>
    <div class="result-wrapper">
        <h1>Информация о проведенных ТО вашей техники</h1>
        {% include 'tabs.html' with active_tab='maintenance' %}
        {% if maintenances %}
        <div class="adaptive-table-wrapper">
                <table class="adaptive-table">
                    <thead>
                        <tr>
                            <th>Вид ТО</th>
                            <th>Дата проведения ТО</th>
                            <th>Наработка, м\час</th>
                            <th>№ заказ-наряда</th>
                            <th>Дата заказ-наряда</th>
                            <th>Организация проводившая ТО</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for maintenance in maintenances %}
                        <tr>
                            <td>{{ maintenance.maintenance_type }}</a></td>
                            <td>{{ maintenance.maintenance_date }}</td>
                            <td>{{ maintenance.operating_time }}</td>
                            <td>{{ maintenance.work_order_number }}</td>
                            <td>{{ maintenance.work_order_date }}</td>
                            <td>{{ maintenance.the_organization_that_carried_out_the_maintenance }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="result-wrapper">
        <span>Данной машины нет в базе</span>
    </div>
    {% endif %}
    <a href="{% url 'machine_list' %}">Назад</a>
</main>
{% endblock content %}